<ion-header>

  <ion-navbar>
    <ion-title>Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
	<ion-card *ngIf="homestay">

	<ion-item >
	    <p>{{homestay.display_name}}</p>
	</ion-item>
	  
	<ion-slides autoplay="5000" loop="true" speed="3000">
	    <ion-slide *ngFor="let image of homestay.imageSlide">
	      <img src="{{ image }}" />
	    </ion-slide>
	</ion-slides>
	<ion-item>
		<h4>{{homestay.property_type}} - {{homestay.property_details.location}}</h4>
	</ion-item>   
	<ion-item>
		<ion-grid>
		  <ion-row>
		    <ion-col col-6>
		    	<ion-icon name="people">
		      </ion-icon>
		      	{{homestay.property_details.max_guests}} Guests
		    </ion-col>
		    <ion-col col-6>
		    	<ion-icon name="people">
		      </ion-icon>
			      {{homestay.property_details.beds}} Beds
		    </ion-col>
		  </ion-row>
		  <ion-row>
		    <ion-col col-6>
		      <ion-icon name="people">
		      </ion-icon>
			      {{homestay.property_details.bedrooms}} Bedrooms
		    </ion-col>
		    <ion-col col-6>
		      <ion-icon name="people">
		      </ion-icon>
		      	{{homestay.property_details.baths}} Baths
		    </ion-col>
		  </ion-row>
		</ion-grid>
	</ion-item>

	<ion-card-content>
		<p> {{homestay.property_discription.discription}}</p>
		<br >
		<p> {{homestay.property_discription.space}}</p>
		<br >
		<p> {{homestay.property_discription.guest_access}}</p>
	</ion-card-content>
	<ion-item>
	    <h2>Amenities</h2>
    	<ion-grid>
			  <ion-row>
			    <ion-col col-6>
			      <ion-icon name="pin" item-start large></ion-icon>
			      WiFi
			    </ion-col>
			    <ion-col col-6>
			      <ion-icon name="football" item-start large></ion-icon>
			      Pool
			    </ion-col>
			  </ion-row>
			  <ion-row>
			    <ion-col col-6>
			      <ion-icon name="wine" item-start large></ion-icon>
			      Spa
			    </ion-col>
			    <ion-col col-6>
			      <ion-icon name="navigate" item-start large></ion-icon>
			      Parking
			    </ion-col>
			  </ion-row>
			  <ion-row>
			    <ion-col col-6>
			      <ion-icon name="navigate" item-start large></ion-icon>
			      Pets
			    </ion-col>
			    <ion-col col-6>
			      <ion-icon name="navigate" item-start large></ion-icon>
			      A/C
			    </ion-col>
			  </ion-row>
			</ion-grid>
	</ion-item>

	<ion-item>
	    <h2>Room arrangements </h2>
    	<ion-col col-6 *ngFor="let arrangenemts of homestay.sleeping_arrangements" >
      	<ion-icon name="pin" item-start large></ion-icon>
      	{{arrangenemts.label}}
      	{{arrangenemts.room_cont }} - left
	    </ion-col> 
	</ion-item>
	<ion-item>
	  	<h2>House rules</h2>
	  	<p *ngFor="let rules of homestay.house_rules" >{{rules.rule}}</p>
	</ion-item>
	<ion-item> 
	  	<h2>Cancellation</h2>
	  	<p *ngFor="let rules of homestay.house_rules" >{{homestay.cancellations.rule}}</p>
	</ion-item>
	</ion-card>
	<ion-fab bottom right #fab>
    	<button ion-fab (click)="goToBooking(homestay)">Book</button>
	</ion-fab>
</ion-content>
