<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar no-border-top>
    <ion-item >
      <ion-row>
        <ion-col col-6>
          Check in
        </ion-col>
        <ion-col col-6>
          check_in date
        </ion-col>
      </ion-row>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- chethan : showing  cards start-->
  <ion-card *ngFor="let homestay of homestayLists" (click)="goToHomeStayDetail(homestay)">
    <img  src="{{homestay.image}}"/>

      <div class="card-rating"> {{ homestay.rating }} </div>
      <ion-row>
      <ion-col text-left>
        <div >{{ homestay.name }}</div>
        <div >
          <span style="font-size: 8px;" *ngFor="let tag of homestay.tags"> 
          {{ homestay.name }} </span>
        </div>
      </ion-col>
      <ion-col text-right>
        <div icon-right >
        <div><span style="font-size: 8px;"> per night </span></div>
        <div>
          <span style="font-size: 8px;">
            <ion-icon name="inr"></ion-icon>
            {{ homestay.rate}}
          </span>
          <span> 
            <ion-icon name="inr"></ion-icon>
            {{ homestay.rate - homestay.rate*(homestay.discount/100) }}
          </span>
        </div>
        <div><span style="font-size: 8px;"> you save {{ homestay.rate*(homestay.discount/100) }} ({{homestay.discount}}%discount)</span> </div>  
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- chethan: showing cards ends  -->
  <ion-list-header [hidden]="shownSessions > 0">
      No Sessions Found
  </ion-list-header>

  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


</ion-content>